* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #2c2b2b;
}

.page-wrapper {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

.back-link {
  width: 100px;
  padding: 10px;
  display: inline-block;
  color: black;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  background: white;

  transition: all 0.2s ease;
}

.back-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  background-color: beige;
}

.card {
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  margin: 2%;
}

.card-title {
  margin: 0;
  padding: 20px 25px;
  color: black;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.card-content {
  padding: 25px;
  text-align: justify;
  background-image: url(../images/au-background-image.jpg);
  background-size: cover;
}

.card-content p {
  color: white;
  line-height: 1.6;
  font-size: 14px;
}

.card-content h3 {
  margin-top: 25px;
  color: white;
  font-size: 14px;
  letter-spacing: 0.5px;
}
