body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background: linear-gradient(135deg, hsl(221, 88%, 61%), hsl(235, 75%, 50%), hsl(240, 90%, 12%));
  color: white;
  text-align: center;
  padding: 10px 20px 20px;
}
img#img1 {
  display: block;
  margin: 0 auto 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 1.1rem;
  line-height: 1.6;
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  padding: 14px 28px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.primary {
  background: white;
  color: hsl(235, 75%, 50%);
}

.secondary {
  background: white;
  color: hsl(235, 75%, 50%);
}

.btn:hover {
  background: #7a73c9;
}

.features {
  background: white;
  padding: 80px 20px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

.features h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 50px;
  color: #111827;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.card {
  background: #f9fafb;
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 10px;
  color: #111827;
}

.card p {
  font-size: 0.95rem;
  color: #4b5563;
}

.card {
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);

  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

footer {
  background: linear-gradient(135deg,hsl(235, 75%, 50%), hsl(240, 90%, 12%));
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 0.85rem;
}

#loadingScreen {
  position: fixed;
  inset: 0;
  background: #2d2e30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.1rem;
  display: none;
}


.loader {
  width: 60px;
  height: 60px;
  border: 6px solid black;
  border-top: 6px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 2.2rem;
  }

  .buttons {
    flex-direction: column;
  }
}